
.BrowseRecipes {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #f8aa35;
    height: 50px;
    color: rgb(0, 0, 0);
    padding: 100px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    position: relative;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

ul {
    text-align: center;
    display: flex;
    padding-top: 10px;
  }
  
li {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;  
  }

li:hover {
  background-color:rgb(250, 235, 215);
}

.button {
  border: none;
  color: rgb(0, 0, 0);
}

.return {
  border: none;
  border-radius: 5px;
  background-color: #ffc368;
  color: black;
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
  width: 80px;
  position: absolute;
  top: 75px;
  left: 120px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.return:hover {
  background-color: #ffd18d;
}

.photos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.photo {
  flex: 0 1 30%;
  border: 5px solid #ece3ae;
  padding: 10px;
}

.photo img {
  max-width: 100%;
  height: auto;
}

.Name {
  font-size: 24px;
  font-weight: bold;
  background-color: #f8aa35;
  padding-top: 5px;
  margin-top: 5px;
}

.Details {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  background-color: #ece3ae;
  padding-top: 10px;
}

.photos2 {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.photo2 {
  flex: 0 1 30%;
  border: 5px solid #ece3ae;
  padding: 10px;
}

.photo2 img {
  max-width: 100%;
  height: auto;
}