
ul {
    text-align: center;
    display: flex;
    padding-top: 5px;
    padding-left: 0px;
  }
  
li {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 100%; 
  }

li:hover {
  background-color:rgb(250, 235, 215);
}

.button {
  border: none;
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 10px;
  background-color: #f8aa35;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 55px;
  color: rgb(0, 0, 0);
  margin-top: 45px;
}
.HomeButton {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #c28855;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  left: 20px;
  }
.HomeButton:hover{
  background-color: #98714f;
}

.recipe-row, .user-row {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}

.recipe-card, .user-card {
    width: 45%; 
    margin: 0 10px; 
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ece3ae; 
    text-align: center; 
}

.recipe-card h3, .user-card h3 {
    margin-top: 0;
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 20px; 
}

.recipe-card p, .user-card p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
}

.recipe-card img {
    display: block; 
    margin: 0 auto 10px; 
    max-width: 100%;
    height: auto;
}

.recipe-card a {
    display: block;
    margin-top: 10px; 
}

.category-selection, .search-bar {
  margin-bottom: 20px; 
}

.category-selection form {
  display: flex;
  align-items: center;
}

.category-selection label {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 18px;
  margin-right: 5px; 
}

.category-selection select {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 16px; 
  padding: 5px; 
  border: 1px solid #000; 
  border-radius: 5px;
  margin-right: 5px;
}

.category-selection button, .search-bar button, .users button, .recipe-card a {
  padding: 8px 16px; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px; 
  background-color: #c28855; 
  color: #fff; 
  transition: background-color 0.3s; 
}

.category-selection button:hover, .search-bar button:hover, .users button:hover, .recipe-card a:hover {
  background-color: #98714f; 
}

.search-bar input[type="text"] {
  font-family: 'Bebas Neue', sans-serif; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

h2 {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 32px; 
  color: #000; 
  text-transform: uppercase; 
  margin-bottom: 20px; 
  text-align: center; 
}
.LogOutButton {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #c28855;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  left: 20px;
  }
.LogOutButton:hover{
  background-color: #98714f;
}

.alphabet {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8aa35;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.alphabet:hover {
  background-color: #f1d982;
}

.sort-selection {
  margin-bottom: 20px; 
}

.sort-selection form {
  display: flex;
  align-items: center;
}

.sort-selection label {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 18px;
  margin-right: 5px; 
}

.sort-selection select {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 16px; 
  padding: 5px; 
  border: 1px solid #000; 
  border-radius: 5px;
  margin-right: 5px;
}

.sort-selection button {
  padding: 8px 16px; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px; 
  background-color: #c28855; 
  color: #fff; 
  transition: background-color 0.3s; 
}

.sort-selection button:hover {
  background-color: #98714f; 
}