.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 10px;
    background-color: #f8aa35;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    margin-bottom: 20px;
    padding: 5px 10px;
  }
  
.logo-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 55px;
    color: rgb(0, 0, 0);
    margin-top: 45px;
  }

.HomeButton {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #c28855;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    left: 20px;
}
.HomeButton:hover{
    background-color: #98714f;
}

.input-container {
    display: flex;
    align-items: flex-start;
    background-color: #ece1ae;
    border-top: 3px solid #000;
}

.rating-container {
    background-color: #ece1ae;
    border-top: 3px solid #000;
}

.input-container.description {
    border-bottom: 3px solid #000;
}

.circle {
    height: 200px;
    width: 200px;
    border: 4px solid #ffd18d;
    border-radius: 50%;
    margin: 20px;
    margin-left: 35px;
    background-color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 150px;
    justify-content: center;
}

.form-container {
    border: 3px solid black;
    padding: 10px;
    background-color: #ece1ae; 
}


.form-container input[type="text"],
.form-container textarea {

    border: 2px solid #ffd18d;
    border-radius: 5px; 
    margin-top: 10px;
    width: 100%; 
    box-sizing: border-box; 
}


.form-container h2,
.form-container label {
 
    color: black; 
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
}

.input-container .input-fields input[type="text"] {
    height: 50px !important;
    width: 300px;
    font-size: 16px;
    border: 2px solid #ffd18d;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 15px;
}

.input-container .input-fields input[type="textarea"].description {
    height: 90px;
    width: 800px;
    font-size: 16px;
    border: 2px solid #ffd18d;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-container .input-fields input[type="textarea"].ingredient {
    height: 90px;
    width: 800px;
    font-size: 16px;
    border: 2px solid #ffd18d;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ingredient {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 20px;
}

.ingredienttext {
    margin-top: 35px;
    width: 80%;
    height: 300px;
    border: 2px solid #ffd18d;
    margin-bottom: 40px;
}

.input-container .ingredienttext {
    margin-top: 20px; 
    width: 88%;
}

.input-container .steptext {
    margin-top: 20px; 
    width: 321px;
    height: 70px;
}

.Step {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 20px;
}

.step-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 70px;
}

.step-row button{
    margin-bottom: 30px;
}

.steptext {
    margin-top: 35px;
    width:  80%;
    height: 300px;
    border: 2px solid #ffd18d;
    margin-bottom: 50px;
    margin-right: 10px;
}

.rating1 {
    font-family: 'Bebas Neue', sans-serif; 
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    background-color: #ece1ae;
    border-bottom: none;
    padding: 10px;
    padding-top: 50px;
}

.rating1 > input {
    display: none;
}

.rating1 > label {
    display: inline-block;
    padding: 5px;
    font-size: 40px;
    color: #ffffff;
}

.rating1 > label:before {
    content: "\2605";
}

.rating1 > input:checked ~ label {
    color: #fffb00;
}

.rating1 > input:checked ~ label:before {
    content: "\2605";
}

.rating1 > label:hover,
.rating1 > label:hover ~ label {
    color: #fffb00;
}

.rating1 > label:hover:before,
.rating1 > label:hover ~ label:before {
    content: "\2605";
}

.rating2 {
    font-family: 'Bebas Neue', sans-serif; 
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    background-color: #ece1ae;
    border-top: none;
    border-bottom: none;
    padding: 10px;
}

.rating2 > input {
    display: none;
}

.rating2 > label {
    display: inline-block;
    padding: 5px;
    font-size: 40px;
    color: #ffffff;
}

.rating2 > label:before {
    content: "\2605";
}

.rating2 > input:checked ~ label {
    color: #fffb00;
}

.rating2 > input:checked ~ label:before {
    content: "\2605";
}

.rating2 > label:hover,
.rating2 > label:hover ~ label {
    color: #fffb00;
}

.rating2 > label:hover:before,
.rating2 > label:hover ~ label:before {
    content: "\2605";
}

.Submit {
    display: block;
    width: 120px;
    margin: auto auto;
    text-align: center;
    background-color: #ffc368;
    color: black;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid #000;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

#recipe_name {
    width: 450px; 
    height: 35px;
}


#description {
    width: 900px;
}

.image-upload {
    margin-bottom: 20px;
}

#recipe_image {
    border: 3px solid #ffd18d;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

#preview-image {
    display: none;
    max-width: 100%;
    margin-top: 10px;
}

.image-upload label {
    font-size: 18px;
    color: black;
}

.image-upload label,
.image-upload input[type="file"] {
    display: inline-block;
    margin-right: 10px;
}

.image-upload input[type="file"] {
    cursor: pointer;
}


#recipe_image:focus + #preview-image {
    display: block;
}
.category-selection {
    margin-bottom: 20px; 
  }
  
  .category-selection form {
    display: flex;
    align-items: center;
  }
  
  .category-selection label {
    
    font-size: 18px;
    margin-right: 10px; 
  }
  
  .category-selection select {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 16px; 
    padding: 5px; 
    border: 1px solid #000; 
    border-radius: 5px;
  }
  
  .category-selection button {
    padding: 8px 16px; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 16px; 
    background-color: #c28855; 
    color: #fff; 
    transition: background-color 0.3s; 
  }
  
  .category-selection button:hover {
    background-color: #98714f; 
  }

.input-container {
    font-family: 'Bebas Neue', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
}


.input-container input[type="range"] {
    -webkit-appearance: none;
    width: 40%; 
    height: 10px; 
    background: #fff; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin-top: 10px;
}


.input-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; 
    height: 16px;
    background: #c28855; 
    cursor: pointer;
    border-radius: 50%;
}

.input-container input[type="range"]::-moz-range-thumb {
    width: 16px; 
    height: 16px; 
    background: #c28855; 
    cursor: pointer;
    border-radius: 50%;
}


#serving_size_value {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 18px; 
    color: #000; 
    margin-top: 5px; 
}
.LogOutButton {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #c28855;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    left: 20px;
    }
.LogOutButton:hover{
    background-color: #98714f;
}
ul {
    text-align: center;
    display: flex;
    padding-top: 5px;
    padding-left: 0px;
  }
  
li {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 100%; 
  }

li:hover {
  background-color:rgb(250, 235, 215);
}

.recipe-photo-container {
    text-align: center; 
    margin-bottom: 20px; 
}
.recipe-photo {
    display: block;
    margin: 0 auto; 
    border: 2px solid #000; 
    padding: 10px; 
    max-width: 100%; 
    height: auto; 
}