<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='BrowseRecipe.css') }}">
    <title>Browse Recipes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">Browse Recipes</h1>
        <a href="{{ url_for('logout') }}" class="LogOutButton">Logout</a>
    </div>

    <div class="classification">
        <ul>
            <li><a href="browse_recipes" class="button">Browse Recipes</a></li>
            <li><a href="favouritedrecipe" class="button">Favourited Recipes</a></li>
            <li><a href="recipesubmission" class="button">Submit Recipes</a></li>
            <li><a href="submitted_recipes" class="button">My Submitted Recipes</a></li>
            <li><a href="userprofile" class="button">User Profile</a></li>
        </ul>
    </div>

    <div class="search-bar">
        <form method="GET" action="{{ url_for('browse_recipes', user_id=user.id) }}">
            <input type="text" name="search_query" placeholder="Search for a recipe..." value="{{ request.args.get('search_query', '') }}">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="category-selection">
        <form method="GET" action="{{ url_for('browse_recipes', user_id=user.id) }}">
            <label for="category">Select Category:</label>
            <select name="category" id="category">
                <option value="All">All</option>
                {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Browse</button>
        </form>
    </div>

    <div class="recipes">
        <h2>{{ selected_category.capitalize() }} Recipes</h2>
        {% for i in range(0, recipes|length, 4) %}
        <div class="recipe-row">
            {% for recipe in recipes[i:i+4] %}
            <div class="recipe-card">
                <img src="/static/{{ recipe.image_path }}" alt="Recipe Image" style="max-width: 100px;">
                <h3>{{ recipe.recipe_name }}</h3>
                <p>{{ recipe.description }}</p>
                <p>Categories: 
                    {% for category in recipe.categories %}
                        {{ category.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Submitted by: {{ recipe.submitted_by }}</p>
                <a href="{{ url_for('recipe', user_id=user.id, recipe_id=recipe.id, source='browse_recipe') }}">View Recipe</a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
