<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EditCategories.css') }}">
    <title>Edit Categories Groups</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">Edit Categories Groups</h1>
        <a href="{{ url_for('adminlogout') }}" class="LogOutButton">Logout</a>
    </div>

    <div class="classification">
        <ul>
            <li><a href="pending_submissions" class="button">Review Submitted Recipes</a></li>
            <li><a href="browse_recipes" class="button">Browse Recipes</a></li>
            <li><a href="manage_users" class="button">Manage Users</a></li>
            <li><a href="edit_category_groups" class="button">Edit Categories Groups</a></li>
            <li><a href="edit_categories" class="button">Edit Categories</a></li>    
        </ul>
    </div>

    <div class="category-selection">
        <form method="POST" action="{{ url_for('add_category_group', admin_id=admin.id) }}" class="add-category-form">
            <label for="category">Group Name:</label>
            <div class="category-input">
                <input type="text" id="group" name="name" required>
                <button type="submit" class="add-category-button">Add Group</button>
            </div>
        </form>
    </div>

    <div class="categories">
        {% for i in range(0, groups | length, 4) %}
        <div class="category-row">
            {% for group in groups[i:i+4] %}
                <div class="category-card">
                    <p>{{ group.name }}</p>
                    <form action="{{ url_for('update_category_group', admin_id=admin.id, group_id=group.id) }}" method="post">
                        <input type="text" name="new_name" value="{{ group.name }}" required>
                        <button type="submit" class="update-button">Update</button>
                    </form>
                    <form action="{{ url_for('delete_category_group', admin_id=admin.id, group_id=group.id) }}" method="post">
                        <button type="button" class="delete-button" onclick="confirmDelete('{{ group.id }}', '{{ group.name }}')">Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    

    <script>
        function confirmDelete(groupId, groupName) {
            if (confirm(`Are you sure you want to delete the group "${groupName}"?`)) {
                document.querySelector(`form[action$="/delete_category_group/${groupId}"]`).submit();
            }
        }
    </script>
</body>
</html>
