<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Favourited Recipes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">Favourited Recipes</h1>
        <a href="{{ url_for('logout') }}" class="LogOutButton">Logout</a>
    </div>

    <div class="classification">
        <ul>
            <li><a href="{{ url_for('browse_recipes', user_id=user.id) }}" class="nav-button">Browse Recipes</a></li>
            <li><a href="{{ url_for('favouritedrecipe', user_id=user.id)}}" class="nav-button">Favourited Recipes</a></li>
            <li><a href="{{ url_for('recipesubmission', user_id=user.id) }}" class="nav-button">Submit Recipes</a></li>
            <li><a href="{{ url_for('submitted_recipes', user_id=user.id) }}" class="nav-button">My Submitted Recipes</a></li>
            <li><a href="{{ url_for('view_notifications', user_id=user.id) }}" class="nav-button">View Notifications</a></li>
            <li><a href="{{ url_for('user_profile', user_id=user.id) }}" class="nav-button">User Profile</a></li>
        </ul>
    </div>

    <div class="recipes">
        <h2 class="centertext">Favourited Recipes</h2>
        <div class="sort-selection">
            <form method="GET" action="{{ url_for('favouritedrecipe', user_id=user.id) }}">
                <label for="sort_by">Sort By:</label>
                <select name="sort_by" id="sort_by">
                    <option value="none" {% if sort_by == "none" %}selected{% endif %}>Unsorted</option>
                    <option value="alphabetical" {% if sort_by == "alphabetical" %}selected{% endif %}>Alphabetical</option>
                    <option value="cook_on" {% if sort_by == "cook_on" %}selected{% endif %}>Cook On Date</option>
                </select>
                <button type="submit">Sort</button>
            </form>
        </div>

        {% if recipes %}
        {% for i in range(0, recipes|length, 4) %}
        <div class="recipe-row">
            {% for recipe in recipes[i:i+4] %}
            <div class="recipe-card">
                <img src="/static/{{ recipe[0].image_path }}" alt="Recipe Image" style="max-width: 100px;">
                <h3>{{ recipe[0].recipe_name }}</h3>
                <p>{{ recipe[0].description }}</p>
                <p>Cook On: {{ recipe[1] }}</p>              
                <a href="{{ url_for('recipe', user_id=user.id, recipe_id=recipe[0].id, source='favouritedrecipe') }}">View Recipe</a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <p>No favourited recipes yet.</p>
        {% endif %}
    </div>

    <div class="pagination">
        {% if pagination.has_prev %}
            <span>
                <a class='page-number' href="{{ url_for('favouritedrecipe', user_id=user.id, page=pagination.prev_num, sort_by=sort_by) }}">
                    {{ '<<<' }}
                </a>
            </span>
        {% endif %}

        {% for number in pagination.iter_pages() %}
            {% if pagination.page != number %}
                <span>
                    <a class='page-number' href="{{ url_for('favouritedrecipe', user_id=user.id, page=number, sort_by=sort_by) }}">
                        {{ number }}
                    </a>
                </span>
            {% else %}
                <span class='current-page-number'>{{ number }}</span>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <span>
                <a class='page-number' href="{{ url_for('favouritedrecipe', user_id=user.id, page=pagination.next_num, sort_by=sort_by) }}">
                    {{ '>>>' }}
                </a>
            </span>
        {% endif %}
    </div>
</body>
</html>
