<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>HomePage - CookiQ </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <div class="header">
            <img style="height: 50px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
            <a href="adminlogin" class="Admin-Login-button">Log In For Admin</a>
        </div>

        <!-- Flash messages -->
        {% include '_flashes.html' %}

        <div class="home-text">
            <h1>Make Cooking Easier with CookiQ!</h1>
            <h1>"Cooking is the ultimate giving." - Jamie Oliver</h1>
        </div>
        <div class="home-page-photos">
            <div class="home-page-photo">
                <img src="https://static.vecteezy.com/system/resources/previews/027/703/478/non_2x/brazilian-food-background-photo.jpg" alt="Photo 1">
            </div>
            <div class="home-page-photo">
                <img src="https://img.freepik.com/premium-photo/lamb-chops-prepared-with-pesto-sauce-illustration-ai-generative_118124-13584.jpg" alt="Photo 2">
            </div>
            <div class="home-page-photo">
                <img src="https://miro.medium.com/v2/resize:fit:1400/1*RI0bai67MzVylRfiEuQ6ZA.png" alt="Photo 3">
            </div>
        </div>
        <div class="why-choose-cookiq">
            <h2>Why Choose CookiQ ?</h2>
            <div class="reasons">
                <p>☑ Convenient</p>
                <p>☑ Delicious Recipes</p>
                <p>☑ User-friendly</p>
            </div>
        </div>
        <div class="home-buttons">
            <a href="signup" class="signup-button">Sign Up</a>
            <a href = "login" class="login-button">Log In</a>
        </div>
    </body>
</html>