<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='BrowseRecipe.css') }}">
    <title>View Notifications</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<style>
    .classification li{
        text-decoration: none;
        color: black;
    }
</style>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">View Notifications</h1>
        <a href="{{ url_for('logout') }}" class="LogOutButton">Logout</a>
    </div>

    <div class="classification">
        <ul>
            <li><a href="{{ url_for('browse_recipes', user_id=user.id) }}" class="button">Browse Recipes</a></li>
            <li><a href="{{ url_for('favouritedrecipe', user_id=user.id)}}" class="button">Favourited Recipes</a></li>
            <li><a href="{{ url_for('recipesubmission', user_id=user.id) }}" class="button">Submit Recipes</a></li>
            <li><a href="#" class="button">My Submitted Recipes</a></li>
            <li><a href="{{ url_for('view_notifications', user_id=user.id) }}">View Notifications</a></li>
        </ul>
    </div>

    <h1>Notifications</h1>
    <ul>
        {% for notification in notifications %}
        <li>
            <p>{{ notification.message }}</p>
            <p>Date: {{ notification.timestamp.strftime('%d-%m-%Y %H:%M:%S') }}</p>
            {% if not notification.read %}
            <form action="{{ url_for('mark_notification_as_read', notification_id=notification.id, user_id=user.id) }}" method="POST" style="display:inline;">
                <button type="submit">Read</button>
            </form>
            {% else %}
            <span>Read</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>