<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Pending Recipe Submissions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">Pending Recipe Submission</h1>
        <a href="{{ url_for('adminlogout') }}" class="LogOutButton">Logout</a>
    </div>

    <!-- Flash messages -->
    {% include '_flashes.html' %}

    <div class="classification">
        <ul>
            <li><a href="{{ url_for('pending_submissions', admin_id=admin.id) }}" class="nav-button">Review Submitted Recipes</a></li>
            <li><a href="{{ url_for('admin_browse_recipes', admin_id=admin.id)}}" class="nav-button">Browse Recipes</a></li>         
            <li><a href="{{ url_for('manage_users', admin_id=admin.id) }}" class="nav-button">Manage Users</a></li>
            <li><a href="{{ url_for('edit_category_groups', admin_id=admin.id)}}" class="nav-button">Edit Categories Groups</a></li>
            <li><a href="{{ url_for('edit_categories', admin_id=admin.id) }}" class="nav-button">Edit Categories</a></li>
            <li><a href="{{ url_for('view_reports', admin_id=admin.id) }}" class="nav-button">View Reports</a></li>
        </ul>
    </div>

    <table class="pending-recipes">
        <tr>
            <th>Recipe Name</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Steps</th>
            <th>Serving Size</th>
            <th>Difficulty</th>
            <th>Time Required</th>
            <th>Image</th>
            <th>Categories</th>
            <th>Submitted At</th>
            <th>Submitted By</th>
            <th>Actions</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.recipe_name }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.steps }}</td>
            <td>{{ recipe.serving_size }}</td>
            <td>{{ recipe.difficulty }}</td>
            <td>{{ recipe.time_required }}</td>           
            <td>
                <!-- Displaying the image -->
                <img src="/static/{{recipe.image_path}}" alt="Recipe Image" class="recipe-image">
            </td>
            <td>
                <!-- Loop through the categories and display them -->
                {% for category in recipe.categories %}
                    {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ recipe.submitted_at }}</td>
            <td>{{ recipe.submitted_by }}</td>
            <td>
                <form method="post" action="{{ url_for('approve_recipe', admin_id=admin_id, recipe_id=recipe.id) }}">
                    <button class='approve-recipe-button' type="submit" onclick="return confirm('Are you sure you want to approve this recipe?')">Approve</button>
                </form>                
                <form method="post" action="{{ url_for('reject_recipe', admin_id=admin_id, recipe_id=recipe.id) }}">
                    <button class='reject-recipe-button' type="submit" onclick="return confirm('Are you sure you want to reject this recipe?')">Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
