<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Recipe Submissions</title>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">Pending Recipe Submission</h1>
        
    </div>
    <table border="1">
        <tr>
            <th>Recipe Name</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Steps</th>
            <th>Difficulty</th>
            <th>Time Required</th>
            <th>Taste</th>
            <th>Image</th>
            <th>Category</th>
            <th>Submitted At</th>
            <th>Submitted By</th>
            <th>Actions</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.recipe_name }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.steps }}</td>
            <td>{{ recipe.difficulty }}</td>
            <td>{{ recipe.time_required }}</td>
            <td>{{ recipe.taste }}</td>
            <td>
                <!-- Displaying the image -->
                <img src="/static/{{recipe.image_path}}" alt="Recipe Image" style="max-width: 100px;">
            </td>
            <td>{{ recipe.category }}</td>
            <td>{{ recipe.submitted_at }}</td>
            <td>{{ recipe.submitted_by }}</td>
            <td>
                <form method="post" action="{{ url_for('approve_recipe', admin_id=admin_id, recipe_id=recipe.id) }}">
                    <button type="submit">Approve</button>
                </form>                
                <form method="post" action="{{ url_for('reject_recipe', admin_id=admin_id, recipe_id=recipe.id) }}">
                    <button type="submit">Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
