<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Recipe.css') }}">
    <title>{{ recipe.recipe_name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img style="height: 50px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        {% if source == 'favouritedrecipe' %}
            <a href="{{ url_for('favouritedrecipe', user_id=user.id, recipe_id=recipe.id) }}" class="Return">Return</a>
        {% elif source == 'browse_recipe' %}
            <a href="{{ url_for('browse_recipes', user_id=user.id, recipe_id=recipe.id) }}" class="Return">Return</a>
        {% endif %}
    </div>

    <!-- Flash messages -->
    {% include '_flashes.html' %}

    <h1 class="recipe-title">{{ recipe.recipe_name }}</h1>

    <form action="{{ url_for('favorite_recipe', user_id=user.id, recipe_id=recipe.id, source=source) }}" method="POST">
        <label for="cook_on">Cook On:</label>
        <input type="date" id="cook_on" name="cook_on" value="{{ favourite_recipe.cook_on.strftime('%Y-%m-%d') if favourite_recipe and favourite_recipe.cook_on else '' }}">
        <button type="submit" class="submit-button">{{ 'Unfavorite' if recipe.id in favourited_recipe_ids else 'Favorite' }}</button>
    </form>

    {% if recipe.user_id != user.id %}
        <a href="{{ url_for('report_recipe', user_id=user.id, recipe_id=recipe.id) }}" class="report-button">Report Recipe</a>
    {% endif %}

    <div class="recipe-photo-container">
        <img src="{{ url_for('static', filename=recipe.image_path) }}" class="recipe-photo" alt="Recipe Photo" style="max-width: 200px;">
        <div  class="submitted-by-date">
            <p>Submitted by: {{ recipe.submitted_by }}</p>
            <p>Submitted at: {{ recipe.submitted_at }}</p>
            <p>Serving Size: {{ recipe.serving_size }}</p>
            <p>Time Required: 
                {% for i in range(recipe.time_required) %}
                    &#9733; 
                {% endfor %}
                {% for i in range(5 - recipe.time_required) %}
                    &#9734;
                {% endfor %}
            </p>
            <p>Difficulty: 
                {% for i in range(recipe.difficulty) %}
                    &#9733; 
                {% endfor %}
                {% for i in range(5 - recipe.difficulty) %}
                    &#9734;
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="recipe-details">
        <h2>Description:</h2>
        <p>{{ recipe.description }}</p>
    </div>
    <div class="recipe-details">
        <h2>Categories:</h2>
        <p>
            {% for category in recipe.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>

    <div class="recipe-details">
        <h2>Ingredients:</h2>
        <p>{{ recipe.ingredients }}</p>
    </div>

    <div class="recipe-details">
        <h2>Steps:</h2>
        <ul>
            {% for step in recipe.steps.split('\n') %}
                {% if step %}
                    <li>
                        <input type="checkbox" id="step{{ loop.index }}" name="step{{ loop.index }}">
                        <label for="step{{ loop.index }}">{{ step }}</label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="timer-container">
        <h2>Timer</h2>
        <p id="timer">00:00:00</p>
        <audio id="timeupAudio" src="{{ url_for('static', filename='alarm.mp3') }}"></audio>
        <div>
            <input type="number" id="hours" min="0" placeholder="Hours">
            <input type="number" id="minutes" min="0" max="59" placeholder="Minutes">
            <input type="number" id="seconds" min="0" max="59" placeholder="Seconds">
        </div>
        <div>
            <button onclick="startCountdown()">Start</button>
            <button onclick="stopCountdown()">Stop</button>
            <button onclick="resetCountdown()">Reset</button>
        </div>
    </div>

    <div class="comment-box">
        <h2>Drop A Comment!</h2>
        <p>There is no failure. Only feedback.” - Robert Allen</p>
        <form action="{{ url_for('submit_comment', user_id=user.id, recipe_id=recipe.id) }}" method="post" enctype="multipart/form-data">
            <textarea name="comment" placeholder="Enter your comment here" class="input-field"></textarea>
            <label for="image">Upload Image:</label>
            <input type="file" name="image" accept="image/*" >
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1"></label>
            </div>
            <input type="submit" value="SUBMIT" class="submit-button">
        </form>
    </div>
    <div class="comment-section">
        <h2>Comments</h2>
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-content">
                <p>{{ comment.submitted_by }}</p>
                <p>Commented At: {{ comment.commented_at.strftime('%H:%M:%S') }}</p>
                <p>Rating: 
                    {% for i in range(comment.rating) %}
                        &#9733; 
                    {% endfor %}
                    {% for i in range(5 - comment.rating) %}
                        &#9734;
                    {% endfor %}
                </p>
                {% if comment.image_url %}
                    <img src="/static/{{ comment.image_url }}" alt="Comment Image">
                {% endif %}
                <p>{{ comment.comment }}</p>
                {% if comment.user_id != user.id %}
                    <a href="{{ url_for('report_comment', user_id=user.id, comment_id=comment.id, recipe_id=recipe.id) }}" class="report-button">Report Comment</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var timerElement = document.getElementById("timer");
        var hoursInput = document.getElementById("hours");
        var minutesInput = document.getElementById("minutes");
        var secondsInput = document.getElementById("seconds");
        var totalSeconds = 0;
        var countdownInterval;

        function startCountdown() {
            stopCountdown();
            var hours = parseInt(hoursInput.value) || 0;
            var minutes = parseInt(minutesInput.value) || 0;
            var seconds = parseInt(secondsInput.value) || 0;
            totalSeconds = hours * 3600 + minutes * 60 + seconds;
            countdownInterval = setInterval(function () {
                totalSeconds--;
                if (totalSeconds <= 0) {
                    clearInterval(countdownInterval);
                    timerElement.textContent = "Time's up!";
                    timeupAudio.play();
                } else {
                    var hours = Math.floor(totalSeconds / 3600);
                    var remainingSeconds = totalSeconds % 3600;
                    var minutes = Math.floor(remainingSeconds / 60);
                    var seconds = remainingSeconds % 60;
                    timerElement.textContent =
                        (hours < 10 ? "0" + hours : hours) + ":" +
                        (minutes < 10 ? "0" + minutes : minutes) + ":" +
                        (seconds < 10 ? "0" + seconds : seconds);
                }
            }, 1000);
        }
        function stopCountdown() {
            clearInterval(countdownInterval);
        }
        function resetCountdown() {
            clearInterval(countdownInterval);
            totalSeconds = 0;
            timerElement.textContent = "00:00:00";
            hoursInput.value = "";
            minutesInput.value = "";
            secondsInput.value = "";
            timeupAudio.pause();
        }
    </script>
</body>
</html>