<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='RecipeSubmission.css') }}">
        <title>Recipe Submission</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="header">
            <div class="logo-container">
                <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
            </div>
            <h1 class="title">Recipe Submission</h1>
            <a href="{{ url_for('logout') }}" class="LogOutButton">Logout</a>
        </div>

        <div class="classification">
            <ul>
                <li><a href="browse_recipe" class="button">Browse Recipes</a></li>
                <li><a href="#" class="button">Favourited Recipes</a></li>
                <li><a href="recipesubmission" class="button">Submit Recipes</a></li>
                <li><a href="#" class="button">My Submitted Recipes</a></li>
            </ul>
        </div>

        <div class="form-container">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="input-container">
                    <h2>Submit Your Recipe</h2>
                    <div class="image-upload">
                        <label for="recipe_image">Upload Image:</label>
                        <input type="file" id="recipe_image" name="recipe_image" accept="image/*" required>
                        
                    </div>
                    <label for="recipe_name"><h2>Recipe Name:</h2></label><br>
                    <input type="text" id="recipe_name" name="recipe_name" required><br><br>
                    <label for="description"><h2>Description:</h2></label><br>
                    <textarea id="description" name="description" required></textarea><br><br>
                </div>
        
                <div class="input-container">
                    <label for="ingredients" class="ingredients"><h2>Ingredients:</h2></label><br><br>
                    <textarea class="ingredienttext" name="ingredients" placeholder="Enter the Ingredients" required></textarea><br><br>
                </div>
        
                <div class="input-container">
                    <label for="step" class="steps"><h2>Steps:</h2></label>
                    <textarea class="steptext" name="steps" placeholder="Enter the Steps" required></textarea><br><br>
                </div>
                <div class="input-container category-selection">
                    <label for="category"><h2>Category:</h2></label><br>
                    <select id="category" name="category" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select><br><br>
                </div>
                    
                <div class="input-container">
                    <label for="serving_size"><h2>Serving Size:</h2></label><br>
                    <input type="range" id="serving_size" name="serving_size" min="1" max="10" value="5">
                    <span id="serving_size_value">5</span>
                </div>        

            <div class="rating-container">
                <div class="rating1"><h2>Difficulty</h2>
                    <input type="radio" id="star5_1" name="rating1" value="5">
                    <label for="star5_1"></label>
                    <input type="radio" id="star4_1" name="rating1" value="4">
                    <label for="star4_1"></label>
                    <input type="radio" id="star3_1" name="rating1" value="3">
                    <label for="star3_1"></label>
                    <input type="radio" id="star2_1" name="rating1" value="2">
                    <label for="star2_1"></label>
                    <input type="radio" id="star1_1" name="rating1" value="1">
                    <label for="star1_1"></label>
                </div>

                <div class="rating2"><h2>Time Required</h2>
                    <input type="radio" id="star5_2" name="rating2" value="5">
                    <label for="star5_2"></label>
                    <input type="radio" id="star4_2" name="rating2" value="4">
                    <label for="star4_2"></label>
                    <input type="radio" id="star3_2" name="rating2" value="3">
                    <label for="star3_2"></label>
                    <input type="radio" id="star2_2" name="rating2" value="2">
                    <label for="star2_2"></label>
                    <input type="radio" id="star1_2" name="rating2" value="1">
                    <label for="star1_2"></label>
                </div>
            </div>           
        </div>
        <input type="submit" value="Submit" class="Submit">
    </form>
</div>
<script>
    // Get the serving size slider element
    var servingSizeSlider = document.getElementById("serving_size");

    // Get the span element to display the serving size value
    var servingSizeValueSpan = document.getElementById("serving_size_value");

    // Update the value of the span element when the slider value changes
    servingSizeSlider.addEventListener("input", function() {
        servingSizeValueSpan.textContent = servingSizeSlider.value;
    });
</script>
</body>

</html>