<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='userprofile.css') }}">
    <title>User Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img style="height: 50px; padding-bottom: 30px;" src="{{ url_for('static', filename='Logo_CookiQ.jpeg') }}" alt="Logo_CookiQ">
        </div>
        <h1 class="title">User Profile</h1>
        <a href="{{ url_for('logout') }}" class="LogOutButton">Logout</a>
    </div>

    <div class="classification">
        <ul>
            <li><a href="{{ url_for('browse_recipes', user_id=user.id) }}" class="button">Browse Recipes</a></li>
            <li><a href="{{ url_for('favouritedrecipe', user_id=user.id)}}" class="button">Favourited Recipes</a></li>
            <li><a href="{{ url_for('recipesubmission', user_id=user.id) }}" class="button">Submit Recipes</a></li>
            <li><a href="{{ url_for('submitted_recipes', user_id=user.id) }}" class="button">My Submitted Recipes</a></li>
            <li><a href="{{ url_for('view_notifications', user_id=user.id) }}">View Notifications</a></li>
            <li><a href="{{ url_for('user_profile', user_id=user.id) }}" class="button">User Profile</a></li>
        </ul>
    </div>

    <div class="profile">
        <div class="profile-info">
            <h1><strong>NAME:</strong> {{ user.username }}</h1>
            <h1><strong>EMAIL:</strong> {{ user.email }}</h1>
            <h1><strong>AGE:</strong> {{ user.age }}</h1>
            <h1><strong>JOINED:</strong> {{ user.created_at }}</h1>
            <a href="{{ url_for('edit_profile', user_id=user.id) }}" class="EditProfile">Edit Profile</a>
        </div>
    </div>
</body>
</html>